body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.colourfull{
    color:#e22b89 ;
}
.separet{
    width: 40%;
    float: left;
    margin-left: 1%;
    padding-left:6%;   

}
.separet img{
    width: 90%;

}
.top-bannar{
    background-image: url(images/br2.jpg);
    box-shadow: 5px 5px 30px gray;
}
section{
    height: 500px;
}

.under{
    margin-top: 90px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 25px;
    border-radius: 7px;
    color: white;
    font-weight: 700;
    box-shadow: 3px 3px 10px gray;
}
.dream-area{
    background-image: url(images/bgd1.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 5%;
   
}
.dream-area2{
    margin-top: 5%;
}
.single-block{
    box-shadow: 12px 13px 40px gray;
    border-radius: 6px;
    height: 65%;
    margin-left: 2.5%;
}
.dream-area2{
    background-image: url(images/side.png);
    background-repeat:no-repeat ;
}
#unic-color{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #e22b89, lightsalmon);
    border-image-slice: 1;
}
#unic-color2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    
}
.shadow{
    box-shadow: 10px 10px 50px gray;
    border-radius: 350px;
}
.text-center{
    text-decoration: none;
    text-align: center;
    color: blueviolet;
    
}
.work-place{
    margin-top: 10px;
}
.latest-work{
    width: 28%;
    float: left;
    margin-left: 41px;
}
.latest-work img{
    width: 93%;
}
.border-style{
    box-shadow: 2px 2px 15px blueviolet;
    border-radius: 3px;
    width: 100%;
}


.latest-work2{
    width: 28%;
    float: left;
    margin-left: 41px;
}
.latest-work2 img{
    width: 93%;
}
.border-style2{
    box-shadow: 2px 2px 15px rgb(11, 228, 228);
    border-radius: 90px;
    width: 100%;
    
}
.work-place2{
    margin-top: 2px;
}
.footer-last{
    margin-top: 35%;
    background-color: turquoise;
    border-radius: 45px;
    box-shadow: 10px 10px 40px gray;
    height: 50%;
}
footer{
    text-align: center;
    margin-bottom: 5%;
}
  
